.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0px 80px var(--cor-0), inset 0px -80px var(--cor-0);
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  padding: 160px 0px;
}

.tecnologia-conteudo h2 {
  padding-top: 20px;
}

.tecnologia-conteudo .paragrafo {
  padding: 32px 0px;
}

.tecnologia-vantagem img {
  height: 20%;
  padding: 0px;
}

.link {
  text-transform: uppercase;
}

.tecnologia-vantagem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding-top: 80px;
}

.tecnologia-vantagem h3 {
  padding-top: 8px;
}

.tecnologia-vantagens {
  display: flex;
  gap: 50px;
}

@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: initial;
  }

  .tecnologia-conteudo {
    padding: 40px 0px;
  }

  .tecnologia {
    grid-template-columns: 1fr;
  }

  .tecnologia-vantagem {
    grid-row: 1;
  }

  .tecnologia-imagem {
    display: none;
  }

  @media (max-width: 600px) {
    .tecnologia-vantagens {
      flex-direction: column;
      gap: 0px;
    }

    .tecnologia-vantagem {
      padding-top: 40px;
    }
  }
}
